body{
    background-image: url('bg/下载.png');
}
.content{
    margin-top: 50px;
    min-height: 580px;
    padding-bottom: 30px;
}
#left_bar {
    bottom: 0;
    top: 40px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}

#right_content {
    bottom: 0;
    top: 40px;
    left: 230px;
    right: 0;
    position: absolute;
    z-index: 2;
    background-color: white;
    overflow: auto;
}

.showform {
    cursor: pointer;
}

.dehidden {
    display: inline-block;
}

#tips {
    width: 300px;
    bottom: 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 4px #919191;
    background-color: #fff;
}

#tips .label-info {
    margin-right: 8px;
    background: #2BAF2B;
    padding: 4px;
}

#tips .label-warning {
    margin: 0 8px 0 0;
    padding: 4px;
}

#tips a {
    color: #fff;
}

#tip_id {
    height: 20px;
    padding: 12px 12px 12px;
    background: #004400;
    color: white;
    font-weight: bolder;
    border-radius: 5px 5px 0 0;

}

#tip_info {
    padding: 12px;
    min-height: 18px;
    background: #F2F8FF;
    color: #1D537E;
    font-size: 14px;
    line-height: 26px;
}

#tip_examples {
    background-color: #fff;
    word-break: break-all;
    word-wrap: break-word;

}

#tip_examples .label-success {
    background-color: #a5a5a5;
    display: block;
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 4px;
}

#tip_examples code {
    display: block;
}
#tip_examples .code-inline{
    display: inline;
}
#tip_examples>div {
    color: #858B8F;
    margin: 12px;
    font-size: 12px;
}

.hidden_form {
    display: none;
}

/*用于标识字段检查通过*/
input.check_pass {
    background: #f9fff6;
    color: #5b8509;
}

/*标识字段检查失败*/
input.check_fail {
    background-color: #fffafb;
    color: #ff0000;
}
/*顶部错误警告条*/
.top-alert{
    width: 100%;
    top: 50px;
    z-index: 10;
    display: block;
    overflow: hidden;
}

.alert-noborder{
    border: 0;
    border-radius: 0;
    background: transparent;
    margin-bottom: 0;
}
.body-content{
    margin-top: 10px;
}
.index-content{
    background: white;
    border-radius: 4px;
    padding: 12px;
    border: 1px solid #DDD;
    box-shadow: 0 0 8px #DFDFDF;
}

.navbar a{
    line-height: 30px;
}

#docname {
    border-radius: 4px 0 0 4px;
    width: 100px;
    border: 1px solid #CCCCCC;
    border-right: 0;
}

#docform {
    margin: 10px 0 5px 0;
}
.navbar-inverse .divider-vertical {
    border-right-color: #313131;
    border-left-color: black;
    height: 50px;
}
#footer {
    background: #000;
    color: #fff;
}
#footer .span12 div{
    margin-left: 0;
}
#footer .copyright{
    height: 60px;
    line-height: 60px;
}
#footer .links ul{
    width: 200px;
    float: left;
    margin: 20px 46px 0 0;
    list-style: none;
}
#footer ul.last{
    margin-right: 0;
}
#footer .links ul li{
    border-bottom: 1px dotted #7b7b7b;
    padding: 4px 0;
}
#footer .links ul li.head{
    font-weight: bold;
    border-bottom: none;
}
.leftbar .icon-chevron-right{
    float: right;
    opacity: 0.2;
}
.leftbar .active a,.leftbar .active a:hover{
    background-color: #52659E;
    color: #ffffff;
}
.leftbar .active i,.leftbar li>a:hover >i{
    opacity: 1;
    background-image: url("bootstrap/img/glyphicons-halflings-white.png");
}
.leftbar {
    background-color: #fff;
    border-radius: 4px;
}
.leftbar li>a:hover,.nav-header a{
    background-color: royalBlue;
    color: #fff;
}
table{
    background-color: #ffffff;
}


